@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row" style="z-index:2">
        <a href="/identity/account/logout">Atsijungti</a>
    </div>

    <div class="content mb-lg-4">
        @Body
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                SuccessClass="custom-toast"
                ErrorClass="custom-toast"
                InfoClass="custom-toast"
                Timeout="8" />

@code {
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }
    [Inject] public NavigationManager NavigationManager { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"/identity/account/login");
        }
    }
}
