@page
@model LoginModel

@{
    ViewData["Title"] = "Prisijungimas";
}

<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <h1>@ViewData["Title"]</h1>
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>El. paštas</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Slaptažodis</label>
                <input asp-for="Input.Password" class="form-control" type="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Prisijungti</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
